/** box fix **/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/** kleuren **/
:root {
  --site-achtergrond: #f3f3f3;
  --sectie-achtergrond: #ffffff;
  --border: #e6e6e6;
  --link-achtergrond: #f5f5f5;
  --tekst: #333333;
  --footer-tekst: #808080;
  --yfa-blauw: #0e76a8;
}

/** lettertype's **/
h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  color: var(--tekst);
}

/** layout **/
body {
  background-color: var(--site-achtergrond);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

header {
  grid-column: 3/11;
  grid-row: 2/3;
}

aside {
  grid-column: 3/6;
}

main {
  grid-column: 6/11;
}

footer {
  display: grid;
  grid-column: 1/13;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--tekst);
  color: var(--footer-tekst);
}

h1 {
  grid-column: 3/11;
  grid-row: 1/2;
}

h2 {
  border-bottom: 1px solid var(--border);
}

h3 {
  margin: 0;
}

p {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-bottom: 1rem;
}

section {
  background-color: var(--sectie-achtergrond);
  padding: 1rem;
  margin-bottom: 1rem;
}

span {
  color: var(--yfa-blauw);
}

a > h3 {
  border-top: 1px solid var(--border);
  padding: 1rem 0;
  margin-top: 1rem;
}

.kolom-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: left;
}

.kolom-2 > p:first-child {
  text-transform: uppercase;
  font-weight: bold;
}

.kolom-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.kolom-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}
/** persoonlijke gegevens **/
[aria-label="Persoonlijke gegevens"] > .kolom-2 > p:first-child {
  margin-left: 1rem;
}

[aria-label="Persoonlijke gegevens"] > img {
  height: auto;
  width: 100%;
}

/** werkervaring **/
.ervaring {
  display: grid;
  grid-template-columns: 15% 65% 20%;
  justify-items: start;
  margin-bottom: 1rem;
}

.ervaring > div {
  white-space: nowrap;
}

.ervaring > p:first-child {
  margin: 0;
  font-weight: bold;
}

.ervaring > :nth-child(1) {
  grid-column: 1/2;
}

.ervaring > :nth-child(2) {
  grid-column: 2/3;
}

.ervaring > :nth-child(3) {
  grid-column: 3/4;
}

.ervaring-inhoud {
  display: grid;
  grid-template-columns: 15% 85%;
}

.ervaring-inhoud > p {
  grid-column: 2/3;
}

.ervaring-inhoud > :not(:last-child) {
  margin: 0;
}

.ervaring-inhoud > p:last-child {
  margin-bottom: 1rem;
}

.kolom-5 > a > img {
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
}

.kolom-5 > a:nth-child(1) {
  grid-column: 2/3;
}

.kolom-5 > a:nth-child(2) {
  grid-column: 3/4;
}

.kolom-5 > a:nth-child(3) {
  grid-column: 4/5;
}

/** links **/
.link {
  background-color: var(--link-achtergrond);
  color: var(--yfa-blauw);
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

[class="link kolom-5"] > p {
  white-space: nowrap;
  margin: 0 1rem;
  grid-column: 3/4;
}

[class="link kolom-5"] > img {
  margin: auto;
  grid-column: 2/3;
}

[class="link kolom-5"] > div {
  grid-column: 4/5;
  margin: 0;
  padding: 0;
}

a {
  color: var(--tekst);
  text-decoration: none;
}

a:active,
a:focus,
a:hover,
a:hover > h3 {
  background-color: var(--yfa-blauw);
  color: var(--link-achtergrond);
}

.kolom-5 > a > img:hover,
.kolom-5 > a > img:active {
  filter: invert(0.4);
}

.kolom-2 > a:hover > p,
.kolom-2 > a:active > p {
  margin: 0.45rem 0.1rem;
}

.kolom-5 > a:hover,
.kolom-5 > a:active {
  background-color: var(--sectie-achtergrond);
}

/** menu **/
nav {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: stretch;
  justify-items: stretch;
}

img[aria-hidden="true"] {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 5%;
}

.menu-sticky {
  position: sticky;
  top: 0%;
}
.menu-knop {
  display: none;
}

.menu-item {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  align-items: center;
  background-color: var(--sectie-achtergrond);
  font-weight: bolder;
  padding: 1rem;
}

/* nav > a:not([href="#opleiding"]) {
  padding-top: 1.5rem;
} */
/**tabellen **/
.tabel-fix {
  border-bottom: none;
  padding-bottom: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
tr {
  padding: 0.5rem;
  line-height: 1rem;
  vertical-align: top;
  border-top: 1px solid var(--border);
}

tr {
  text-align: center;
  vertical-align: middle;
}

tbody > tr:nth-child(odd) {
  background-color: var(--site-achtergrond);
}

/** Media query's**/

/** smartphone **/
@media screen and (min-width: 320px) and (max-width: 600px) {
  body {
    gap: 0;
  }

  header {
    grid-column: 1/13;
    grid-row: 2/3;
  }

  h1 {
    grid-column: 1/13;
    grid-row: 1/2;
    margin: 0;
  }

  aside {
    grid-column: 1/13;
  }
  main {
    grid-column: 1/13;
  }

  nav {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  a.menu-knop {
    padding: 1rem;
    background-color: var(--sectie-achtergrond);
  }

  .menu-knop {
    display: grid;
  }
  .menu-item {
    display: none;
  }

  .kolom-2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  [class="link kolom-5"] > .kolom-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
  }
  [class="link kolom-5"] > .kolom-2 > a {
    padding: 0.5rem;
  }

  [class="link kolom-5"] > .kolom-2 > a:hover,
  [class="link kolom-5"] > .kolom-2 > a:active {
    background-color: var(--link-achtergrond);
  }

  [class="link kolom-5"] > .kolom-2 > a > img {
    height: 2rem;
    width: 2rem;
  }

  .kolom-2 > p:first-child {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
  }

  .kolom-2 > p:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  .kolom-2 > a > p {
    margin: 0 0;
    padding: 0;
  }

  [aria-label="Persoonlijke gegevens"] > .kolom-2 > p:first-child {
    margin-left: 0;
  }

  .kolom-2 > a:hover > p,
  .kolom-2 > a:active > p {
    margin: 0;
  }

  .ervaring {
    grid-template-columns: initial;
    grid-template-rows: repeat(3, 1fr);
  }

  .ervaring > :nth-child(1) {
    grid-column: 1/1;
    grid-row: 1/2;
  }

  .ervaring > :nth-child(2) {
    grid-column: 1/1;
    grid-row: 2/3;
  }

  .ervaring > :nth-child(3) {
    grid-column: 1/1;
    grid-row: 3/4;
    white-space: nowrap;
  }

  .ervaring > div {
    white-space: normal;
  }

  .ervaring-inhoud {
    grid-template-columns: initial;
  }

  .ervaring-inhoud > p {
    grid-column: 1/1;
  }

  table {
    font-size: 0.8rem;
  }
}

/** tablet **/
@media screen and (min-width: 601px) and (max-width: 779px) {
  body {
    background-color: blueviolet;
  }

  header {
    grid-column: 1/13;
    grid-row: 2/3;
  }

  h1 {
    grid-column: 1/13;
    grid-row: 1/2;
  }

  aside {
    grid-column: 3/11;
  }
  main {
    grid-column: 1/13;
  }
}

/** desktop klein scherm **/
@media screen and (min-width: 780px) and (max-width: 1079px) {
  header {
    grid-column: 1/13;
    grid-row: 2/3;
  }

  h1 {
    grid-column: 1/13;
    grid-row: 1/2;
  }

  aside {
    grid-column: 3/11;
  }
  main {
    grid-column: 1/13;
  }

  nav {
    padding: 0;
  }
}

/** desktop groot scherm **/
@media screen and (min-width: 1080px) and (max-width: 1200px) {
  header {
    grid-column: 1/13;
    grid-row: 2/3;
  }

  h1 {
    grid-column: 1/13;
    grid-row: 1/2;
  }

  aside {
    grid-column: 1/5;
  }
  main {
    grid-column: 5/13;
  }
}

@media print {
  /* verwijder overbodige informatie (h2, naam en woonplaats) op de eerste pagina*/
}
