/** box fix **/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/** kleuren **/
:root {
  --site-achtergrond: #f3f3f3;
  --sectie-achtergrond: #ffffff;
  --border: #e6e6e6;
  --link-achtergrond: #f5f5f5;
  --tekst: #333333;
  --footer-tekst: #808080;
  --yfa-blauw: #0e76a8;
}

/** lettertype's **/
h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  color: var(--tekst);
}

/** layout **/
body {
  background-color: var(--site-achtergrond);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

aside {
  grid-column: 3/6;
}
main {
  grid-column: 6/11;
}

footer {
  display: grid;
  grid-column: 1/13;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--tekst);
  color: var(--footer-tekst);
}

h1 {
  grid-column: 3/11;
  grid-row: 1/2;
}

ul {
  list-style: none;
  padding-bottom: 1rem;
}

section {
  background-color: var(--sectie-achtergrond);
  padding: 1rem;
  margin-bottom: 1rem;
}

h2 {
  border-bottom: 1px solid var(--border);
}

p {
  margin-bottom: 0;
}

a > h3 {
  border-top: 1px solid var(--border);
}

[aria-label="Persoonlijke gegevens"] > img {
  height: auto;
  width: 100%;
  padding-bottom: 1rem;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: left;
}

.col-2 > p:first-child {
  padding-left: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.col-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

/** werkervaring **/
.ervaring {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-items: start;
  margin-bottom: 1rem;
}

.ervaring > p:first-child {
  margin: 0;
  font-weight: bold;
}

.ervaring ~ p {
  margin-left: 20%;
}

.ervaring-inhoud {
  display: grid;
  grid-template-columns: 80% 20%;
}

.ervaring-inhoud > h3 {
  margin-top: 0;
}

.ervaring-inhoud > div > :first-child {
  margin-top: 0;
}

/** social **/
.col-5 > a > img {
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
}

.col-5 > a:nth-child(1) {
  grid-column: 2/3;
}

.col-5 > a:nth-child(2) {
  grid-column: 3/4;
}

.col-5 > a:nth-child(3) {
  grid-column: 4/5;
}

/** links **/
.link {
  background-color: var(--link-achtergrond);
  color: var(--yfa-blauw);
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

[class="link col-5"] > p {
  white-space: nowrap;
  margin: 0 1rem;
  grid-column: 3/4;
}

[class="link col-5"] > img {
  margin: auto;
  grid-column: 2/3;
}

[class="link col-5"] > div {
  grid-column: 4/5;
  margin: 0;
  padding: 0;
}

a {
  color: var(--tekst);
  text-decoration: none;
}

a:active,
a:focus,
a:hover,
a:hover > h3 {
  background-color: var(--yfa-blauw);
  color: var(--link-achtergrond);
}
[aria-hidden="true"] ~ span {
  color: var(--yfa-blauw);
}

.social > a > img:hover,
.social > a > img:active {
  filter: invert(0.4);
}

.social > a:hover,
.social > a:active {
  background-color: var(--sectie-achtergrond);
}

/** menu **/
header {
  grid-column: 3/11;
  grid-row: 2/3;
}
nav {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
}

img[aria-hidden="true"] {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 5%;
}

.menu-sticky {
  position: sticky;
  top: 0%;
}
.menu-knop {
  display: none;
}

.menu-item {
  background-color: var(--sectie-achtergrond);
  font-weight: bolder;
  padding: 1rem;
}

[href="#opleiding"] {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  align-items: center;
  padding: 0.46rem 1rem;
}

/**tabellen **/
.tabel-fix {
  border-bottom: none;
  padding-bottom: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
tr {
  padding: 0.5rem;
  line-height: 1rem;
  vertical-align: top;
  border-top: 1px solid var(--border);
}

tr {
  text-align: center;
  vertical-align: middle;
}

tbody > tr:nth-child(odd) {
  background-color: var(--site-achtergrond);
}

/** Media query's**/

/** smartphone **/
@media screen and (min-width: 320px) and (max-width: 600px) {
}

/** tablet **/
@media screen and (min-width: 601px) and (max-width: 779px) {
}

/** desktop klein scherm **/
@media screen and (min-width: 780px) and (max-width: 1079px) {
}

/** desktop groot scherm **/
@media screen and (min-width: 1080px) and (max-width: 1200px) {
}

@media print {
  /* verwijder overbodige informatie (h2, naam en woonplaats) op de eerste pagina*/
}
